target
tags
.eclipse_workspace
.classpath
.project
.settings
.DS_Store
.idea
.vscode
*.iml
.*.swp
*.tokens
pom.xml.versionsBackup
docker-compose.log
node_modules
grammar/gen
version.txt
.fleet
grammar/src/main/antlr4/com/noumenadigital/npl/grammar/gen/**
docker-tests/*.log
migration-e2e-tests/*.log
history-benchmarks/*.log
benchmarks-npl-app/*.log
benchmarks-npl-app/*-log.sql
benchmarks-npl-app/app/src/migration.yml
benchmarks-npl-app/app-data
db-flyway-validation/*.log
db-flyway-validation/resources/dump/
cve_cache/
